name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '26.1'
          - '27.2'
          - '28.2'
          - '29.4'
          - 'snapshot'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - uses: conao3/setup-keg@master

      - name: Run tests
        run: make test
        continue-on-error: ${{ matrix.emacs_version == 'snapshot' }}
